@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .logo {
        display: none;
    }
    .section__header {
        margin: 3rem auto;
    }

    .feature__container {
        height: auto;
    }
    .feature__list {
        height: auto;
        flex-direction: column;
    }
    .feature__item {
        width: 100%;
    }
    .feature__item:nth-child(2) {
        margin-bottom: 2rem;
    }
    .feature-image {
        width: 100%;
        flex-direction: row;
    }
    .feature-image__block {
        width: calc(50% - 2rem);
        height: 30rem;
        padding-bottom: 2rem;
    }

    .recent__product {
        height: auto;
    }

    .recent-product__item {
        width: calc(50% - 1rem);
    }

    .brand__list {
        height: auto;
        flex-wrap: wrap;
    }
    .brand__item {
        width: calc(33.333% - 2rem);
    }
    .support__container {
        height: auto;
    }
    .support__list {
        flex-direction: column;
    }
    .support__item {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;
    }
    .support__item:before,
    .support__item:after {
        display: none;
    }
    .testimonial__content {
        flex-direction: column;
    }
    .testimonial__block {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
    }

    .footer {
        height: auto;
    }
    .footer__menu {
        flex-wrap: wrap;
    }
    .footer__item:not(:nth-child(0)) {
        width: calc(50% - 2rem);
    }
}

/* Mobile width< 740px */
@media only screen and (max-width: 46.1875em) {
    .header {
        position: relative;
    }
    .header-top {
        display: none;
    }
    .header-bottom {
        display: flex;
        flex-direction: column;
    }

    /* .logo {
        display: none;
    } */
    .header-menu__list {
        flex-direction: column;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 9;
        transform: translateX(-100%);
        transition: transform 0.25s linear;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
    }
    .header-menu__item {
        width: 100%;
        display: block;
        padding: 0;
        padding-bottom: 3rem;
        text-align: center;
    }
    .header-menu__item:hover {
        background-color: #f09d67;
    }

    .slider {
        margin-top: 0;
    }
    .social-contact {
        display: none;
    }
    .btn__collapse,
    .nav__bg {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        border-radius: 5rem;
        text-align: center;
        line-height: 5rem;
        background-color: #70c6a6;
        color: white;
        cursor: pointer;
        z-index: 10;
    }

    .nav__bg {
        background-color: #eee;
        z-index: 8;
        transition: transform 0.25s linear;
    }
    .inp__collapse:checked + .nav__bg {
        transform: scale(80);
    }
    .inp__collapse:checked ~ .header-menu__list {
        transform: translateX(0);
    }
    .section__header {
        margin: 3rem auto;
    }
    .section-header__text {
        border: none;
    }
    .section-header__text:before,
    .section-header__text:after {
        display: none;
    }
    .support__container,
    .feature__container,
    .recent__container,
    .brand__container {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .support__list {
        flex-direction: column;
    }
    .support__item {
        margin-bottom: 1rem;
        width: 100%;
    }
    .support__item:before,
    .support__item:after {
        display: none;
    }
    .feature__list {
        height: auto;
        flex-direction: column;
    }
    .feature__item {
        width: 100%;
    }
    .feature__item:nth-child(2) {
        margin-bottom: 2rem;
    }
    .feature-image {
        width: 100%;
        flex-direction: row;
    }
    .feature-image__block {
        width: 100%;
        height: 30rem;
        padding-bottom: 2rem;
    }
    .recent__product {
        height: auto;
    }

    .recent-product__item {
        width: 100%;
    }

    .brand__list {
        height: auto;
        flex-wrap: wrap;
    }
    .brand__item {
        width: 100%;
        margin-bottom: 2rem;
    }
    .testimonial__content {
        flex-direction: column;
    }
    .testimonial__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .testimonial-person {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .testimonial__block:last-of-type {
        flex-direction: column;
    }

    .footer {
        height: auto;
        padding: 1rem;
    }
    .footer__menu {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .footer__item {
        justify-content: center;
        align-items: center;
    }
    .footer__item:not(:nth-child(0)) {
        width: 100%;
    }
    .social-connect {
        align-items: center;
        justify-content: center;
    }
    .footer__bottom {
        justify-content: flex-end;
    }
    .footer__term {
        display: none;
    }
}

/* Tablet width >=740 px and <1024px */

@media only screen and (min-width: 46.25em) {
    .mobile {
        display: block;
    }
    .btn__collapse {
        display: none;
    }
    .nav__bg {
        display: none;
    }
}
