/* Setup basics CSS */
$bg-gray: #f2f2f2;
$primary: #000000;
$secondary: #fff;
$text-color: #4d4d4d;
$border-color: #e0cea6;
$bg-btn: #f09d67;
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    font-family: "Lato", sans-serif;
    line-height: 1;
    font-weight: 400;
}
a {
    text-decoration: underline;
}
img {
    display: block;
    max-width: 100%;
}
button {
    cursor: pointer;
}
input,
textarea,
button {
    outline: none;
    box-shadow: none;
    font-family: "Lato", sans-serif;
}
// Based
.container {
    max-width: 129rem;

    margin-left: 7.5rem;
    margin-right: 7.5rem;
    // background-color: red;
}
.section {
    &__header {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
        margin-bottom: 7rem;
        width: 100%;
        height: 3rem;
    }
    &-header {
        &__line {
            width: 100%;
            height: 100%;
            position: relative;
            text-align: center;
            &::before {
                content: "";
                width: 100%;
                height: 1px;
                background-color: brown;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &__text {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            display: inline-block;
            border-left: 6rem solid transparent;
            border-right: 6rem solid transparent;

            padding: 5px 6rem;

            background-color: white;
            position: relative;
            z-index: 2;
            &::before {
                content: "";
                width: 1.5rem;
                height: 1.5rem;
                left: 0;
                background-color: #f09d67;
                top: 32%;
                transform: translateY(-50%);
                position: absolute;
                transform: rotate(45deg);
            }
            &::after {
                content: "";
                width: 1.5rem;
                height: 1.5rem;
                right: 0;
                background-color: #f09d67;
                top: 32%;
                transform: translateY(-50%);
                position: absolute;
                transform: rotate(45deg);
            }
        }
    }
}
/* Your style start from here */
.wrapper {
    max-width: 144rem;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 16.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    &-top {
        height: 38px;
        background-color: $bg-gray;
        display: flex;
        justify-content: space-between;
        &__contact {
            padding: 1.4rem 0;
            &-icon {
                display: inline-block;
                margin-right: 1.3rem;
            }
        }
        &__nav {
            padding-right: 5.4rem;
        }
    }
    &-bottom {
        padding-right: 7.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary;
    }
    &-top,
    &-bottom {
        padding-left: 8.4rem;
    }
}
.nav-top {
    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        &:not(:last-child)::after {
            content: "|";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__link {
        display: inline-block;
        padding: 1.4rem 2.1rem;
        text-decoration: none;
        color: $text-color;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}
.header-menu {
    &__list {
        display: flex;
    }
    &__item {
        width: 33.3333%;
        padding: 4.5rem 0;
    }
    &__link {
        text-decoration: none;

        margin-right: 1.4rem;
        color: $primary;
        font-size: 1.8rem;
        font-weight: bold;
    }
}
.social-contact {
    &__list {
        display: flex;
    }
    &__item {
        display: inline-block;
        margin-left: 1rem;
    }

    &__icon {
        padding: 1rem;
        border: 2px solid $border-color;
        border-radius: 50%;
        transition: 0.4s;
        &:hover {
            background-color: $bg-btn;
            border-color: $bg-btn;
        }
    }
}
.logo {
    padding: 2.8rem 0;
    min-height: 8.2rem;
    margin-right: 13rem;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    margin-top: 16.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 69.5rem;

    background: url(/images/logo.png) center center / cover no-repeat;
    &__content {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 27.6rem;
        min-height: 38.5rem;
        margin-left: 8.3rem;
        margin-top: 14rem;
    }
    &__button {
        width: 80%;
        bottom: 16.4rem;
        margin-top: 5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $secondary;
    }
    &__nav {
        position: absolute;
        bottom: 2rem;
        left: 48%;

        &-item {
            width: 1.5rem;
            height: 1.5rem;
            background-color: $primary;
            transform: rotate(45deg);
            display: inline-block;
            margin-left: 1rem;
            background-color: $border-color;
            &--active {
                background-color: $text-color;
            }
        }
    }
}
.content-ads {
    width: 100%;
    height: 27.6rem;
    border: 2px solid $secondary;
    padding: 3rem 2.5rem;
    // position: relative;
    box-shadow: 0 0 0 3px #8b8381, 0 0 0 6px $secondary;
    &__item {
        display: block;
        margin-bottom: 3rem;
    }
    &__begin {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $secondary;
    }
    &__title {
        font-size: 4rem;
        font-weight: bold;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    &__end {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: $secondary;
        position: relative;
        background-color: #8b8381;
        display: inline-block;
        padding: 0 5px;
        text-align: center;
        left: 0;
        right: 0;
        z-index: 9;
        &::before {
            content: "";
            position: absolute;
            width: 4rem;
            height: 1px;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-color: $secondary;
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            width: 4rem;
            height: 1px;
            bottom: 0;
            right: 0;
            transform: translateX(100%);
            background-color: $secondary;
            z-index: -1;
        }
    }
    &__percent {
        margin-top: 4rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}
.line {
    position: relative;
    text-align: center;
    height: 1rem;
}
.line::before {
    content: "";
    width: 10rem;
    height: 1px;
    background-color: $secondary;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 8;
    transform: translateX(-50%);
}
.btn {
    padding: 1.6rem 2.5rem;
    outline: none;
    border: none;
}
.btn--primary {
    background-color: $bg-btn;
}

.support {
    margin-top: 6.6rem;
    margin-bottom: 6.6rem;
    &__container {
        max-width: 129rem;
        height: 10rem;
        margin-left: 7.5rem;
        margin-right: 7.5rem;
        // background-color: red;
    }
    &__list {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
    &__item {
        width: calc(33.333% - 2.1rem);
        height: 100%;
        padding: 2.5rem 3rem;
        display: flex;
        position: relative;

        &:first-child {
            background-color: $border-color;
            padding-right: 6rem;
            &::after {
                content: "";
                position: absolute;
                width: 7rem;
                height: 7rem;
                right: -3.5rem;
                top: 1.4rem;
                background-color: $border-color;
                transform: rotate(45deg);
                z-index: 1;
            }
        }
        &:nth-child(2) {
            background-color: $primary;
            color: $secondary;
            padding-left: 5.6rem;
            padding-right: 5.6rem;
            &::after {
                content: "";
                position: absolute;
                width: 7rem;
                height: 7rem;
                left: -3.5rem;
                top: 1.5rem;
                background-color: white;
                transform: rotate(45deg);
            }
            &::before {
                content: "";
                position: absolute;
                width: 7rem;
                height: 7rem;
                right: -3.5rem;
                top: 1.5rem;
                background-color: white;
                transform: rotate(45deg);
            }
        }
        &:last-child {
            background-color: $border-color;
            padding-left: 6rem;
            padding-right: 7rem;
            &::after {
                content: "";
                position: absolute;
                width: 7rem;
                height: 7rem;
                left: -3.5rem;
                top: 1.5rem;
                background-color: $border-color;
                transform: rotate(45deg);
            }
        }
    }
    &-icon {
        margin-right: 2rem;
        i {
            font-size: 5rem;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        &__title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
        &__desc {
            font-size: 1.6rem;
            color: $text-color;
        }
    }
}

.feature {
    width: 100%;
    &__container {
        height: 873px;
    }
    &__list {
        height: 81.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    &__item {
        width: calc(33.333% - 4rem / 3);
        height: 100%;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        &__block {
            height: 50%;
            // margin-bottom: 2rem;
            &:first-of-type {
                padding-bottom: 2rem;
            }
        }
    }
}
.recent {
    &__container {
    }
    &__product {
        width: 100%;
        height: 74.7rem;
    }
    &-product {
        &__list {
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border: 2px solid $border-color;
            padding: 2rem 2rem 0 2rem;
        }
        &__item {
            width: calc(25% - 1.5rem);
            margin-bottom: 2rem;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.brand {
    &__container {
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 22rem;
        padding: 7rem 5rem;
        background-color: $bg-gray;
        flex-shrink: 1;
        flex-grow: 1;
    }
    &__item {
        width: calc(100% / 6 - 5rem);
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.testimonial {
    width: 100%;
    &__content {
        background: url(images/Testimonial/bg.png) top center / cover no-repeat;
        display: flex;
        padding: 8rem 9rem;
        justify-content: space-between;
    }
    &__block {
        width: calc(50% - 10rem);
        display: flex;
        align-items: center;

        &:last-of-type {
            flex-direction: row-reverse;
        }
    }
    &-person {
        display: flex;
        flex-direction: column;

        &--left {
            align-items: flex-start;
            text-align: left;
        }
        &--right {
            align-items: flex-end;
            text-align: right;
        }
        &__text {
            font-size: 1.6rem;
            line-height: 1.4;
            color: $text-color;
            margin-bottom: 6rem;
        }
        &__name {
            font-size: 2rem;
            font-weight: bold;
            color: $text-color;
            margin-bottom: 3.5rem;
        }
        &__job {
            font-size: 1.4rem;
            font-style: italic;
            opacity: 0.6;
        }
    }
}
.footer {
    background: url(images/bg-footer.png) top center / cover no-repeat;
    height: 65rem;
    background-color: $primary;
    padding: 8rem;
    &__menu {
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding-bottom: 6rem;
        border-bottom: 1px solid #ccc;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            border-top: 1rem solid rgba(136, 135, 135, 0.562);
            border-bottom: 1rem solid transparent;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            bottom: 0;
            left: 50%;
            transform: translateY(100%);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            width: calc(20% - 4rem);
        }
        &:last-child {
            width: calc(40% - 4rem);
            display: flex;
            flex-direction: column;
            .social-connect {
                width: 100%;
                display: flex;
                margin-bottom: 5rem;
            }
            .social-icon {
                padding: 1.5rem;
                font-size: 1.5rem;
                // border: 2px solid $primary;
                border-radius: 50%;
                background-color: #fff;
                color: $primary;
                margin-right: 2rem;
                transition: 0.4s;
                &:hover {
                    cursor: pointer;
                    background-color: $bg-btn;
                }
            }
            .form {
                &__title {
                    font-size: 2rem;
                    font-weight: 300;
                    margin-bottom: 5rem;
                }
                &__connect {
                    border: 1px solid $secondary;
                    height: 4rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                &__input {
                    flex-grow: 1;
                }
                &__btn {
                    padding: 1rem 1.5rem;
                    background-color: $text-color;
                }
            }
        }
    }
    &__title {
        font-size: 2rem;
        font-weight: bold;
        color: $secondary;
        margin-bottom: 5rem;
    }
    &__link {
        color: $text-color;
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
    }
    &__bottom {
        padding-top: 3rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__term {
        p {
            font-size: 1.4rem;
            line-height: 1.6;
            color: $text-color;
            font-style: italic;
        }
    }
    &__btn {
        &-top {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-icon {
            padding: 1rem 1rem;
            font-size: 2rem;
        }
    }
}
